<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ezimgur"
          android:versionCode="135"
          android:versionName="1.2.1">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
            android:label="@string/app_name"
            android:icon="@drawable/ez_icon"
            android:name=".app.EzApplication"
            android:theme="@style/Theme.ezimgur"
            android:hardwareAccelerated="true">
        <activity android:name=".view.activity.GalleryActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">
        </activity>
        <activity android:name=".view.activity.GalleryCompactActivity"
                  android:label="Compact Gallery"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.UploadActivity"
                  android:label="@string/activity_upload_label"/>
        <activity android:name=".view.activity.AboutActivity"
                  android:label="@string/activity_about_label"/>
        <activity android:name=".view.activity.MyImagesActivity"
                  android:label="@string/activity_myimages_label"/>
        <activity android:name=".view.activity.CommunityActivity"
                  android:label="@string/activity_community_label"/>
        <activity android:name=".view.activity.SettingsActivity"
                  android:label="@string/activity_settings_label"/>
        <activity android:name=".view.activity.AlbumImagesActivity"
                  />
        <activity android:name=".view.activity.AccountActivity"/>
        <activity android:name=".view.activity.ViewItemActivity"/>

        <activity android:name=".view.activity.LoginActivity"
                  android:label="@string/activity_login"
                  android:noHistory="true"
                  android:launchMode="singleTask">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.BROWSABLE"/>
                    <data android:scheme="oauthflow-imgur" android:host="callback"/>
                </intent-filter>
        </activity>

    </application>
</manifest>
